
* {
  margin: 0;
  padding: 0;
}

h1, h5 {
  text-align: center;
  margin: 0
}

form {
  margin: 10px auto;
  width: 400px;
  font-size: 10pt;
  text-align: center;
}

#container {
  min-width: 310px; 
  height: 400px; 
  margin: 0 auto;
}

#chart {
  width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

#pics {
  width: 1000px;
  margin: 20px auto;
  padding-left: 90px;
}

#pics ul {
  width: 70px;
  text-align: center;
  display: inline-table;
  margin: 0;
  padding: 0;
  margin-right: 26px;
  min-height: 10px;
}

#pics ul:last-child {
  margin-right: 0px;
}


#pics li {
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
}

#pics a {
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
  display: block;
}

#pics img {
  width: 48px;
  border-radius: 27px;
  border: 3px solid rgba(124, 181, 236, 0.5);
  transition-duration: 0.08s;
  transition-timing-function: ease-in;
  opacity: 0.8;
}

#pics img:hover {
  border: 3px solid rgba(124, 181, 236, 0.7);
  /*width: 50px;*/
  border-radius: 37px;
  opacity: 1;
}

#pics ul li:nth-child(1) img {
  border: 3px solid rgba(124, 0, 236, 0.5);
}
#pics ul li:nth-child(1) img:hover {
  border: 3px solid rgba(124, 0, 236, 0.7);
}

#pics ul li:nth-child(2) img {
  border: 3px solid rgba(0, 181, 236, 0.5);
}
#pics ul li:nth-child(2) img:hover {
  border: 3px solid rgba(0, 181, 236, 0.7);
}

#pics ul li:nth-child(3) img {
  border: 3px solid rgba(0, 236, 236, 0.5);
}
#pics ul li:nth-child(3) img:hover {
  border: 3px solid rgba(0, 236, 236, 0.7);
}


